<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Exercice: Boucle + Condition</title>
        <script src="../vue.global.js"></script>
        <!-- <script src="classes/employe.js"></script> -->
        <script type="module" src="js/app.js" defer></script>
    </head>
    <body>
        <div id="app">
            <h1>Liste des utilisateurs</h1>
            <p v-if="utilisateurs.length === 0">Aucun utilisateurs</p>
            <ul v-else>
                <li v-for="utilisateur of utilisateurs">
                    {{ utilisateur.nom }} email: {{utilisateur.email}}
                </li>
            </ul>
        </div>
    </body>
</html>